ErrorDocument 404 /404.html
RewriteEngine on
RewriteRule ^somestring ./ [L,R]

Redirect /surffreely.html /selection.html

Redirect /forums.html /forum.html
Redirect /contributors.html /theonesbehindthescenes.html
DirectoryIndex index.html
 
